services:
  - type: web
    name: eleanor-cms
    runtime: node
    plan: starter
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_CLIENT
        value: postgres
      - key: DATABASE_URL
        fromDatabase:
          name: eleanor-db
          property: connectionString
      - key: APP_KEYS
        generateValue: true
      - key: API_TOKEN_SALT
        generateValue: true
      - key: ADMIN_JWT_SECRET
        generateValue: true
      - key: TRANSFER_TOKEN_SALT
        generateValue: true
      - key: JWT_SECRET
        generateValue: true
      - key: ENCRYPTION_KEY
        generateValue: true
      - key: UPLOAD_PROVIDER
        value: aws-s3
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_ACCESS_SECRET
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_BUCKET
        sync: false
      - key: AWS_S3_BASE_URL
        sync: false
      - key: RENDER_DEPLOY_HOOK_URL
        sync: false

databases:
  - name: eleanor-db
    plan: free
    databaseName: eleanor_cms
